trunk/VS2005/Conexão de Área de Trabalho Remota/Palantir/Palantir/Web References/reg/Register.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RegisterUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterUserResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegisterUserSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="RegisterUserSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterUserHttpGetIn">
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="surname" type="s:string" />
    <wsdl:part name="email" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RegisterUserHttpGetOut" />
  <wsdl:portType name="RegisterSoap">
    <wsdl:operation name="RegisterUser">
      <wsdl:input message="tns:RegisterUserSoapIn" />
      <wsdl:output message="tns:RegisterUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RegisterHttpGet">
    <wsdl:operation name="RegisterUser">
      <wsdl:input message="tns:RegisterUserHttpGetIn" />
      <wsdl:output message="tns:RegisterUserHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegisterSoap" type="tns:RegisterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RegisterHttpGet" type="tns:RegisterHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="RegisterUser">
      <http:operation location="/RegisterUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Register">
    <wsdl:port name="RegisterSoap" binding="tns:RegisterSoap">
      <soap:address location="http://www.isilorhanel.net/Register.asmx" />
    </wsdl:port>
    <wsdl:port name="RegisterHttpGet" binding="tns:RegisterHttpGet">
      <http:address location="http://www.isilorhanel.net/Register.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>